<div class="container-fluid">
     <div class="row">
       <div class="col-md-3 chatList">
        <app-user-list ></app-user-list>
       </div>
        <div class="col-md-9 chatView">
         <header class="userProfile">
            <img class="userImg profileImg" src="../../../assets/img/1.jpg" alt="avatar" />
            <div class="chatPerson">
              chat with manimaran
            </div>

         </header>
         <hr/>
         <app-user-history ></app-user-history>
        </div>
     </div> 
</div>
